# -----------------
# FRONTEND
# -----------------
front-end/homefront/node_modules/
front-end/homefront/dist/
front-end/homefront/build/
front-end/homefront/.next/
front-end/homefront/out/
front-end/homefront/*.log
front-end/homefront/.env
front-end/homefront/.env.*.local

# -----------------
# BACKEND
# -----------------
**/__pycache__/
*.py[cod]
*$py.class
back-end/myenv/
back-end/.env
back-end/.venv/
back-end/ENV/
back-end/*.sqlite3
back-end/db.sqlite3
back-end/media/
back-end/staticfiles/
back-end/instance/

# -----------------
# GENERAL
# -----------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
build/
dist/
